html{
    width: 100%; 
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fffef8;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: #63F5EF;
    border-radius: 15px;
    padding: 1%;
    max-width: 70%;
    /* height: 94%; */
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}

main > div{

padding: 0 1em 0 1em;
}

main > div > p{
    text-align: center;
    color: #7459DC;
    font-size: 1.30em;
    font-family: "Lobster", sans-serif;
}

main > div > p > strong {
    color: #FFF395;
    font-family: "Robot Slab", sans-serif;

}
.img-rounded{
    border-radius: 50%;
    height: 200px;
    width: 200px; 
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0%;
}


footer > div {
    margin: 0 auto;
}

a{
    color: var(--white);
    font-weight: 400;
    font-family: var(--font-heading);
    transition: all .2s;
    outline: 2px solid transparent;
}

a > img{
    width: 25%;
    margin: 10%;
    padding: 7%;
}

footer > div > ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    list-style: none;
    max-width: 100%;
    max-height: 100%;
}

footer > div > ul > li{
    margin: 0 auto;
    padding: 2%;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
}

ol {
    padding-left: 20px;
    color: #7459DC; 
    font-family: "Lobster", sans-serif; 
    font-size: 1.3em; 
}

ol li {
    list-style-type: none;
    position: relative;
    padding-left: 1.5em;
}

ol li::before {
    content: "•"; 
    position: absolute;
    left: 0;
    color: #FFF395;
    font-size: 1.5em;
    line-height: 1;
}
